* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Mona Sans", sans-serif;
    background:#ffffff;
    color:#1C1126;
}

img{
    width: 100%;
    display: block;
}

a{
    text-decoration: none;
    color: inherit;
}

/*menu de navegación*/

.header{
    font-family: "Mona Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #C1FF72;
    background-color: #3d2174;
    color: #0097B2;
}

.logo{
     display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 14px;
}

.logo img{
    width: 100px;
    height: auto;
}

.nav{
    display: flex;
    align-items: center;
    gap: 35px;
    margin-left: auto;
    margin-right: 60px
}

.nav a{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.nav a:hover{
    border-bottom: 2px solid #C1FF72;
    padding-bottom: 8px;
    color: #C1FF72;
}

.header-button{
    background: #3d2174;
    padding: 10px 22px;
    border-radius: 30px;
    border:solid #3d2174;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #ffffff;
}

.header-button:hover{
    background-color: #3d2174;
    color: #C1FF72;
    border:solid #C1FF72;
}



/*footer*/

/* FOOTER */

.footer {
    background-color: #3d2174;
    color: #ffffff;
    font-family: "Mona Sans", sans-serif;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    gap: 40px;

    padding: 40px 60px 20px;
}


/* LOGO */

.logofooter {
    width: 200px;
}

.logofooter img {
    width: 150px;
    height: 100px;

    object-fit: cover;
    border-radius: 10px;
}

.logofooter p {
    font-size: 14px;
    margin-top: 15px;
}


/* SECCIONES DEL FOOTER */

.footer-section {
    min-width: 180px;
}

.footer h3 {
    margin: 0 0 20px;
    font-family: "Boldonse", system-ui;
    font-size: 20px;
}

.footer ul {
    list-style: none;

    padding: 0;
    margin: 0;
}

.footer li {
    font-size: 14px;
    margin-bottom: 10px;
}


/* ENLACES */

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover {
    color: #C1FF72;
}


/* CONTACTO */

.soporte {
    font-size: 14px;
    color: #ffffff;

    list-style: none;

    padding: 0;
    margin: 0;
}

.soporte li:hover {
    color: #C1FF72;
}


/* PARTE INFERIOR */

.border {
    width: 100%;

    border-top: 1px solid rgba(255, 255, 255, 0.3);

    margin-top: 20px;
    padding-top: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.border p {
    margin: 0;
    font-size: 14px;
}


/* REDES SOCIALES */

.redes {
    display: flex;
    gap: 15px;
}

.border a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 35px;
}

.border img {
    width: 30px;
    height: 30px;

    object-fit: contain;

    filter: brightness(0) saturate(100%) invert(100%);
}