* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Mona Sans", sans-serif;
    background:#ffffff;
    color:#1C1126;
}

img{
    width: 100%;
    display: block;
}

a{
    text-decoration: none;
    color: inherit;
}

/*menu de navegación*/

.header{
    font-family: "Mona Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #C1FF72;
    background-color: #3d2174;
    color: #0097B2;
}

.logo{
     display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 14px;
}

.logo img{
    width: 100px;
    height: auto;
}

.nav{
    display: flex;
    align-items: center;
    gap: 35px;
    margin-left: auto;
    margin-right: 60px
}

.nav a{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.nav a:hover{
    border-bottom: 2px solid #C1FF72;
    padding-bottom: 8px;
    color: #C1FF72;
}

.header-button{
    background: #3d2174;
    padding: 10px 22px;
    border-radius: 30px;
    border:solid #3d2174;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #ffffff;
}

.header-button:hover{
    background-color: #3d2174;
    color: #C1FF72;
    border:solid #C1FF72;
}



/*footer*/

.footer{
    background-color: #3d2174;
    color: #ffffff;
    font-family: "Mona Sans", sans-serif;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 35px;
}

.footer h3{
    padding-bottom: 25px;
    font-family: "Boldonse", system-ui;
    font-size: 20px;
}

.footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer li{
    font-size: 15px;
}

.Navegacion li:hover{
    color: #C1FF72;
}

.sobrespin li:hover{
    color: #C1FF72;
}

.soporte li:hover{
    color: #C1FF72;
}

.border{
    display: flex;
    align-items: end;
    background-color: #3d2174;
    color: #ffffff;
    padding: 10px;
}

.border a{
    width: 30px;
    height:auto;
    padding: 5px;
    filter: brightness(0) saturate(100%) invert(100%);
}
